@page "/cierre-inspeccion"
@inject HttpClient Http
@using Frontend.DTOs


<h3>Dar cierre a orden de inspección</h3>

@if (ordenes == null)
{
    <p>Cargando órdenes...</p>
}
else if (ordenSeleccionada == null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N° Orden</th>
                <th>Estación</th>
                <th>Estado</th>
                <th>Fecha Inicio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var o in ordenes)
            {
                <tr>
                    <td>@o.nroOrden</td>
                    <td>@o.estacion</td>
                    <td>@o.estado</td>
                    <td>@o.fechaInicio.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>
                        <button class="btn btn-primary btn-sm" @onclick="() => Seleccionar(o)">
                            Cerrar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <FormularioCierreOrden Orden="ordenSeleccionada" OnCerrar="Volver" />
}

@code {
    private List<OrdenDTO>? ordenes;
    private OrdenDTO? ordenSeleccionada;

    protected override async Task OnInitializedAsync()
    {
        ordenes = await Http.GetFromJsonAsync<List<OrdenDTO>>("api/cierreorden/cerrables");
    }

    void Seleccionar(OrdenDTO orden) => ordenSeleccionada = orden;
    void Volver() => ordenSeleccionada = null;


}
