@inherits LayoutComponentBase

<div class="flex h-screen">
    <!-- Sidebar -->
    <NavMenu />

    <!-- Contenido principal -->
    <div class="flex-1 bg-gray-100 overflow-y-auto">
        <main class="p-6">
            @Body
        </main>
    </div>
</div>
