
@import "tailwindcss";

/* Quita el cursor de texto en cualquier elemento enfocado que no sea input o textarea */
*:not(input):not(textarea):focus {
  outline: none !important;
  caret-color: transparent !important;
}

/* Previene que el foco visual se vea al clickear contenedores */
:focus-visible {
  outline: none !important;
}
